html,
body {
	scroll-behavior: smooth;
}

/* Navbar CSS */
.current-section {
	color: #b1040e;
	font-weight: 900;
	text-decoration: underline;
	text-decoration-color: #b1040e;
	text-decoration-style: solid;
	text-decoration-thickness: 5px;
	opacity: 1;
}
.nav-link::before {
	transition: 300ms;
	height: 5px;
	content: '';
	position: absolute;
	background-color: #031d44;
}

.nav-link-ltr::before {
	width: 0%;
	bottom: 10px;
}

.nav-link-ltr:hover::before {
	width: 100%;
}

/* Tooltip Animations */

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
